<a href="https://colab.research.google.com/github/S4158/Python/blob/main/Assignment_2_Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Types and Structures Questions**

**1.	What are data structures, and why are they important?**

Data structures organize and store data efficiently. They are important for optimizing performance in accessing, processing, and modifying data in various programming tasks and algorithms.

**2.	Explain the difference between mutable and immutable data types with examples.**

Mutable types (like lists) can be changed after creation. Immutable types (like tuples, strings) cannot. For example, list.append() modifies the list, while tuple content remains unchanged.

**3.	What are the main differences between lists and tuples in Python?**

Lists are mutable, dynamic, and allow modification. Tuples are immutable, faster, and suitable for fixed collections. Lists use square brackets [], tuples use parentheses ().

**4.	Describe how dictionaries store data.**

Dictionaries store data as key-value pairs using a hash table. Each key maps to a specific value, enabling fast access, insertion, and retrieval operations.

**5.	Why might you use a set instead of a list in Python?**

Sets automatically remove duplicate values and offer faster membership testing. They are useful when you need unique elements and don’t care about order.

**6.	What is a string in Python, and how is it different from a list?**

A string is an immutable sequence of characters, while a list is mutable and can contain various data types. Strings cannot be changed after creation.

**7.	How do tuples ensure data integrity in Python?**

Tuples are immutable, meaning their elements cannot be modified after creation. This immutability protects data from unintended changes, ensuring consistency and data integrity.

**8.	What is a hash table, and how does it relate to dictionaries in Python?**

A hash table stores data using key-value pairs with hashed keys. Python dictionaries use hash tables internally for fast access, insertion, and lookup operations.

**9.	Can lists contain different data types in Python?**

Yes, Python lists can hold elements of multiple data types, such as integers, strings, or objects, making them flexible for storing heterogeneous data.

**10.	Explain why strings are immutable in Python.**

Strings are immutable to enhance performance and security. Changes create a new string, preserving the original, which prevents accidental modifications and supports string interning.

**11.	What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries offer fast lookups, clear key-based access, and efficient organization of related data, making them ideal for mappings or datasets needing quick retrieval.

**12.	Describe a scenario where using a tuple would be preferable over a list.**

Use a tuple when data must remain constant, like representing fixed coordinates (x, y) or configuration settings that shouldn’t be modified during program execution.

**13.	How do sets handle duplicate values in Python?**

Sets automatically eliminate duplicate values. When adding elements, if a duplicate exists, it’s ignored, ensuring all set elements remain unique.

**14.	How does the “in” keyword work differently for lists and dictionaries?**

In lists, in checks if a value exists. In dictionaries, it checks for the presence of a key, not the value.

**15.	Can you modify the elements of a tuple? Explain why or why not.**

No, tuples are immutable. Once created, their elements cannot be changed or updated. This design ensures data safety and consistency.


**16.	What is a nested dictionary, and give an example of its use case.**

A nested dictionary contains another dictionary as a value. Useful for representing structured data like employee records: {"emp1": {"name": "John", "age": 30}}.

**17.	Describe the time complexity of accessing elements in a dictionary.**

Accessing an element in a dictionary has average time complexity of O(1) due to hashing, making lookups fast and efficient

**18.	In what situations are lists preferred over dictionaries?**

Lists are preferred when order matters, or when storing a sequence of items without needing named keys, like processing ordered datasets or iterating through items.

**19.	Why are dictionaries considered unordered, and how does that affect data retrieval?**

Historically, dictionaries didn't preserve insertion order. Though Python 3.7+ preserves order, logical use should not depend on it for guaranteed sequence

**20.	Explain the difference between a list and a dictionary in terms of data retrieval.**

Lists retrieve elements by index, requiring knowledge of position. Dictionaries retrieve elements using keys, allowing direct, intuitive access to specific data.

### **Practical Questions**

**1.	Write a code to create a string with your name and print it.**

In [1]:
name = "Sumit, Sharma"
print(name)

Sumit, Sharma

**2.	Write a code to find the length of the string "Hello World".**

In [2]:
string = "Hello World"
string_length = len(string)
print(string_length)

11

**3.	Write a code to slice the first 3 characters from the string "Python Programming".**

In [3]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

**4.	Write a code to convert the string "hello" to uppercase.**

In [4]:
uppweString="hello"
upper_string = String.upper()
print(upper_string)

HELLO

**5.	Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [8]:
string = "I like apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

I like orange

**6.	Write a code to create a list with numbers 1 to 5 and print it.**

In [9]:
Numbers = [1, 2, 3, 4, 5]
print(Numbers)

[1, 2, 3, 4, 5]

**7.	Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [11]:
Numbers = [1, 2, 3, 4]
Numbers.append(10)
print(Numbers)

[1, 2, 3, 4, 10]

**8.	Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [12]:
Numbers = [1, 2, 3, 4, 5]
Numbers.remove(3)
print(Numbers)

[1, 2, 4, 5]

**9.	Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [13]:
Elements = ['a', 'b', 'c', 'd']
second_element = Elements[1]
print(second_element)

b

**10.	Write a code to reverse the list [10, 20, 30, 40, 50].**

In [14]:
list = [10, 20, 30, 40, 50]
reversed_list = list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

# **Tuple and Set Practice**
**11.	Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [15]:
elements = (100, 200, 300)
print(elements)

(100, 200, 300)

**12.	Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [16]:
elements = ('red', 'green', 'blue', 'yellow')
second_to_last_element = elements[-2]
print(second_to_last_element)

blue

**13.	Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [17]:
number = (10, 20, 5, 15)
minimum_number = min(number)
print(minimum_number)

5

**14.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [18]:
elements = ('dog', 'cat', 'rabbit')
index = elements.index("cat")
print(index)

1

**15.	Write a code to create a tuple containing three different fruits and check if "kiwi" is in it**

In [19]:
fruit = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruit
print(is_kiwi_in_tuple)

False

**16.	Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [20]:
elements = {'a', 'b', 'c'}
print(elements)

{'b', 'c', 'a'}

**17.	Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [21]:
element = {1, 2, 3, 4, 5}
element.clear()
print(element)

set()

**18.	Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [22]:
element = {1, 2, 3, 4}
element.remove(4)
print(element)

{1, 2, 3}

**19.	Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [23]:
element1 = {1, 2, 3}
element2 = {3, 4, 5}
union_of_sets = element1.union(element2)
print(union_of_sets)

{1, 2, 3, 4, 5}

**20.	Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [25]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_of_sets = set1.intersection(set2)
print(intersection_of_sets)

{2, 3}

# **Dictionary Practice**
**21.	Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [28]:
Keys={"name": "Sumit", "age": 25, "city": "New Delhi"}
print(Keys)

{'name': 'Sumit', 'age': 25, 'city': 'New Delhi'}

**22.	Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [29]:
Keys = {'name': 'John', 'age': 25}
Keys["country"] = "USA"
print(Keys)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23.	Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [30]:
keys = {'name': 'Alice', 'age': 30}
name_value = keys["name"]
print(name_value)

Alice

**24.	Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [31]:
Keys = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del Keys["age"]
print(Keys)

{'name': 'Bob', 'city': 'New York'}

**25.	Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [32]:
Keys = {'name': 'Alice', 'city': 'Paris'}
is_city_key_exists = "city" in Keys
print(is_city_key_exists)

True

**26.	Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [34]:
List = [1, 2, 3, 4, 5]
Tuple = (1, 2, 3, 4, 5)
Dictionary = {"name": "Sumit", "age": 25, "city": "New Delhi"}
print(List)
print(Tuple)
print(Dictionary)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Sumit', 'age': 25, 'city': 'New Delhi'}

**27.	Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result**

In [37]:
import random

random_numbers = random.sample(range(1, 101), 5)
sorted_numbers = sorted(random_numbers)
print(sorted_numbers)

[15, 39, 77, 94, 99]

**28.	Write a code to create a list with strings and print the element at the third index**

In [38]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", fruits[3])

Element at index 3: date

**29.	Write a code to combine two dictionaries into one and print the result.**

In [39]:
code1 = {'name': 'Alice', 'age': 30}
code2 = {'city': 'New York', 'country': 'USA'}
combined_dict = {**code1, **code2}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

**30.	Write a code to convert a list of strings into a set**

In [42]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Original List:", string_list)
print("Converted Set:", string_set)

Original List: ['apple', 'banana', 'cherry', 'apple', 'banana']
Converted Set: {'banana', 'cherry', 'apple'}